body{
    background-image: url(./Flag-Bangladesh.webp);
}
h1{
    font-size: 90px;
    color: red;
    text-align: center;
    text-decoration: underline green;
}
h2{
    color: greenyellow;
    text-align: center;
    text-decoration: underline blue;
}
p{
    color: yellow;
    padding: 10px;

}